:root {
  --color-primary: #8B480A;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--color-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-emphasis {
  font-weight: 700;
}